<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/font.css" />
    <link rel="stylesheet" href="/style/boot.css" />
    <title>Node.js & Passport Login App</title>
  </head>
  <body>
    <div class="container"><%-body %></div>
    <script src="/js/slimmin.js"></script>
    <script src="/js/propermin.js"></script>
    <script src="/js/bootstrapmin.js"></script>
  </body>
</html>
