<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/font.css" />
    <link rel="stylesheet" href="/style/boot.css" />
    <title>Node.js & Passport Login App</title>
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <h1><i class="fab fa-cricket"></i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2"
              >Register</a
            >
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/slimmin.js"></script>
    <script src="/js/propermin.js"></script>
    <script src="/js/bootstrapmin.js"></script>
  </body>
</html>
